# Enter your Personal-Access-Token and its ID.
# Open https://app.sipgate.com and create a new token by navigating to "Benutzereinstellungen" -> "Personal-Access-Tokens"
TOKEN_ID=
TOKEN=

# Choose an Faxline ID to be used.
# You can use the "/{userID}/faxlines" endpoint to list the available Faxline IDs for a given user (see https://api.sipgate.com/v2/doc#/faxlines/getUserFaxlines).
FAXLINE_ID=

# Choose a fax number of the recipient.
RECIPIENT=

# Choose the path of the pdf file to send.
PDF_FILE_PATH=./testpage.pdf
